<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				December
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Hide and Speak: Deep Neural Networks for Speech Steganography.
			</span><br />
			<span class="authors">
				Felix Kreuk, Yossi Adi, Bhiksha Raj, Rita Singh, and Joseph Keshet.
			</span><br />
			<span class="venuetype"></span><span class="venue">arXiv preprint arXiv:1902.03083</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				December
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Deceiving end-to-end deep learning malware detectors using adversarial examples.
			</span><br />
			<span class="authors">
				Felix Kreuk, Assi Barak, Shir Aviv-Reuven, Moran Baruch, Benny Pinkas, and Joseph Keshet.
			</span><br />
			<span class="venuetype"></span><span class="venue">arXiv preprint arXiv:1802.04528</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				April
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Fooling end-to-end speaker verification with adversarial examples.
			</span><br />
			<span class="authors">
				Felix Kreuk, Yossi Adi, Moustapha Cisse, and Joseph Keshet.
			</span><br />
			<span class="venuetype"></span><span class="venue">2018 IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
